<div class="footer" [ngClass]="{ dark: isOn }">
  <div class="footer__menu">
    <div
      class="footer__icon ln"
      (mouseenter)="changeColor()"
      (click)="redirectTo('http://linkedin.com/in/anahí-ruiz-90015b88')"
    >
      <!-- <a href="http://linkedin.com/in/anahí-ruiz-90015b88"> </a> -->
    </div>
    <div
      class="footer__icon fb"
      (mouseenter)="changeColor()"
      (click)="redirectTo('https://www.facebook.com/anahii.ruiz/')"
    >
      <!-- <a href="https://www.facebook.com/anahii.ruiz/"> </a> -->
    </div>
    <div
      class="footer__icon tw"
      (mouseenter)="changeColor()"
      (click)="redirectTo('https://twitter.com/anistooteles')"
    >
      <!-- <a href="https://twitter.com/anistooteles"> </a> -->
    </div>
    <div
      class="footer__icon email"
      (mouseenter)="changeColor()"
      (click)="redirectTo('mailto: anahi.ruiz@ymail.com')"
      [ngClass]="{ esp: !lang }"
    >
      <!-- <a href="mailto: anahi.ruiz@ymail.com"> </a> -->
    </div>
  </div>
  <div class="footer__menu-pro" (mouseenter)="changeColor()">
    <div
      class="footer__pro-button"
      [ngClass]="{ light: !isOn, esp: !lang }"
      (click)="
        redirectTo(
          'https://drive.google.com/file/d/1-aPHOOdmYCYfJvDhLkRrA9PFQUnMVyTs/view?usp=sharing'
        )
      "
    ></div>
  </div>
  <div
    class="footer__about-me"
    [ngClass]="{ light: !isOn }"
    *ngIf="lang; else elseEspAbt"
  >
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium facilis
    exercitationem tempora enim, consectetur esse sit ipsa quia vitae qui,
    quidem incidunt odit voluptate nesciunt repudiandae accusamus! Temporibus,
    rem illum!
  </div>
  <ng-template #elseEspAbt>
    <div class="footer__about-me" [ngClass]="{ light: !isOn }">
      español Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem
      minus perspiciatis nam nisi laborum quo in similique, expedita temporibus
      fugiat cupiditate? Soluta quis quo autem. Vel corrupti molestiae
      quisnecessitatibus.
    </div>
  </ng-template>
</div>
